{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/a-propos.css') }}">            
{% endblock %}

{% block title %}

A propos

{% endblock %}

{% block body %}

<h1>
    Cinemet
</h1>

<img src="">

<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et consectetur neque, vitae iaculis urna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam luctus consequat tortor, nec volutpat ipsum semper vel. Proin quis consequat magna. Proin finibus euismod ipsum at tempus. Duis vel lectus eros. Vivamus vitae dolor pharetra, feugiat orci vel, blandit eros. Maecenas quis fringilla sapien. Donec diam eros, pellentesque tincidunt convallis eget, blandit nec nunc. 
</p>

<p>
Nullam quis massa eu risus venenatis dignissim non quis tortor. Phasellus quis neque nec neque posuere dignissim. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis felis diam, vestibulum eget augue vel, viverra pharetra ante. Donec quis posuere neque, id dapibus ante. Nullam fermentum nisi ipsum, et viverra libero bibendum et. Maecenas nec congue justo. Fusce lobortis sagittis tortor sed aliquet. Duis rhoncus magna ligula. Ut nec enim odio. Integer eu venenatis purus. Morbi quis ante sit amet justo ultrices tincidunt ac a elit. Nullam diam neque, dictum vitae posuere sed, iaculis et tellus. 
</p>

<p>
Phasellus dolor metus, elementum ut efficitur dapibus, dignissim ut dui. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam ornare sollicitudin bibendum. Sed sollicitudin augue lacus, in ultricies ante posuere sit amet. Nam eu pellentesque diam, ac placerat neque. Ut eget congue est, quis tempor odio. Nulla auctor neque quis orci mollis posuere. Maecenas egestas sollicitudin erat, et fringilla urna tincidunt eu. Curabitur sed commodo quam. 
</p>

{% endblock %}