{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/liste-films.css') }}">            
{% endblock %}

{% block title %}

Liste des films

{% endblock %}

{% block body %}

<h1>
    Liste des films disponibles
</h1>

<div class="content">
    <div class="film">
        <h5>
            TEST czdzd z d  d d z d z d z dz
        </h5>
        <div>
            <img class="imgFilm" src="">
        </div>
        <div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius, ex nec vehicula volutpat, elit nibho.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius, ex nec vehicula volutpat, elit nibho.
            </p>
        </div>
    </div>
    <div class="film">
        <h5>
            TEST czdzd z d  d d z d z d z dz
        </h5>
        <div>
            <img class="imgFilm" src="">
        </div>
        <div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius, ex nec vehicula volutpat, elit nibho.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius, ex nec vehicula volutpat, elit nibho.
            </p>
        </div>
    </div>
    <div class="film">
        <h5>
            TEST czdzd z d  d d z d z d z dz
        </h5>
        <div>
            <img class="imgFilm" src="">
        </div>
        <div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius, ex nec vehicula volutpat, elit nibho.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius, ex nec vehicula volutpat, elit nibho.
            </p>
        </div>
    </div>
    <div class="film">
        <h5>
            TEST czdzd z d  d d z d z d z dz
        </h5>
        <div>
            <img class="imgFilm" src="">
        </div>
        <div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius, ex nec vehicula volutpat, elit nibho.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius, ex nec vehicula volutpat, elit nibho.
            </p>
        </div>
    </div>
</div>


{% endblock %}